$font: "Lato", sans-serif;

$primary-text-color: #070707;
$secondary-text-color: #828282;

$primary-background-color: #ffffff;
$secondary-background-color: #f6f6f6;

$content-web-width: 940.6px;
$content-tablet-width: 640px;

$content-mobile-width: 420px;
$mobile-container-margin: 100px;
