@import "./_mixins";
@import "./variables";

html {
  scroll-behavior: smooth; // allow scrool behavior
}

body {
  @include customWidthHeight(100vw, 4759px); // height specified in the spec
  @include zeroMarginPadding();
}

#nav-box {
  @include customWidthHeight(100%, $navbar-height);
  @include flexCenterSet();
  background-color: $primary-background-color;
  position: fixed; // fix navbar to the top
  top: 0;
  .nav-web {
    @include customWidthHeight($content-web-width, $navbar-height);
    border-bottom: 1px solid #828282; // draw navbar bottom line
    ul {
      @include customWidthHeight(100%, 100%);
      @include zeroMarginPadding(); // prevent default margins and paddings
      @include flexCustom(
        row,
        center,
        space-between
      ); // spread navbar list items
      list-style-type: none;
      a {
        @include links();
      }
      a:active {
        color: $primary-text-color;
      }
      // bold the current division's name — functionality remains for javaScript :)
      .home-link {
        color: $primary-text-color;
        font-weight: 700;
      }
    }
  }
  .nav-mobile {
    display: none; // hide mobile navbar unless screen width <= 940.6px
    @include customWidthHeight(70px, 75px);
    border: 1px solid #e0e0e0; // draw a navigation button fixed to the left
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px;
    ul {
      position: absolute;
      top: -250px;
    }
    hr {
      margin-top: 17px;
    }
    #toggle {
      position: absolute;
      appearance: none;
      cursor: pointer;
    }
    #toggle + label:after {
      content: none;
    }
    #toggle:checked ~ ul {
      // toggle navigation button in tablets and mobile devices
      @include customWidthHeight(150px, 200px);
      @include zeroMarginPadding();
      @include flexCustom(column, center, space-between);
      transition: margin 700ms cubic-bezier(0.17, 0.04, 0.03, 0.94); // sliding in effect
      text-align: center;
      list-style-type: none;
      background-color: $primary-background-color;
      top: 25px;
      left: 60px;
      li {
        @include customWidthHeight(100px, 20px);
        padding: 10px;
        background-color: $primary-background-color;
        a {
          @include links();
        }
        .home-link {
          color: $primary-text-color;
          font-weight: 700;
        }
      }
    }
  }
}
// navbar landing spot for each division on the page
#navbar-landing {
  @include customWidthHeight(100%, $navbar-height);
  transition: all 0.5s ease-in-out;
}

// styles for division titles as well as bold name in home division
#titles {
  @include titles();
}

// home division
#home {
  @include customWidthHeight(100%, $home-division-height);
  background-color: $primary-background-color;
  #home-holder {
    @include customWidthHeight(
      100%,
      $home-division-height - $navbar-height
    ); // home division's height minus navbar's height
    @include flexCustom(column, center, flex-start);
    #labels {
      // field for name, brief and language links
      @include customWidthHeight(
        $content-web-width,
        $home-image-to-nav-height - 79px
      );
      @include flexCustom(row, stretch, space-between);
      margin-top: $home-name-to-top-margin;
      p {
        @include customWidthHeight(123.51px, 100%);
        @include titles();
        // override some title values
        font-size: 47px;
        line-height: 59px;
        @include zeroMarginPadding();
      }
      .brief {
        @include flexCustom(row, flex-end, flex-start);
        h3 {
          @include zeroMarginPadding();
          @include lightFontSet();
        }
      }
      .lang {
        height: 118.17px;
        @include flexCustom(row, flex-end, flex-start);
        // rotate language links' division vertically
        transform: rotateZ(-90deg);
        h3 {
          margin-right: 30px;
          margin-bottom: 12px;
          a {
            @include links();
            // override some links' values
            font-size: 16px;
            line-height: 20px;
          }
          .eng {
            // bold the current languages name — functionality remains for JS
            color: $primary-text-color;
            font-weight: 700;
          }
        }
      }
    }
    #image-container {
      @include customWidthHeight($content-web-width, $home-image-web-height);
      margin-top: $home-image-to-text-margin;
    }
    #image {
      @include customWidthHeight(100%, 100%);
    }
    #image-mobile {
      display: none; // hide vertical image unless screen width <= 420px
    }
  }
}

// about division
#about {
  @include customWidthHeight(100%, $about-height);
  @include flexCustom(column, center, flex-end);
  text-align: center;
  background-color: $secondary-background-color;
  .text-container {
    @include customWidthHeight(
      $about-text-container-width,
      $about-text-container-height
    );
    margin-top: 17.69px;
    .text {
      color: $primary-text-color;
      @include lightFontSet();
    }
  }
}

// skills division
#skills {
  @include customWidthHeight(100%, $skills-height);
  @include flexCustom(column, center, flex-start);
  background-color: $primary-background-color;
  text-align: center;
  .text-container {
    @include customWidthHeight(
      100%,
      $skills-text-to-icon-height // margin to the icons plus text line height
    );
    h3 {
      @include lightFontSet();
    }
  }
  .progs {
    @include customWidthHeight(
      $content-web-width,
      $skills-icon-container-height
    );
    @include flexCustom(row, flex-start, space-between);
    padding-bottom: $skills-icon-container-to-bottom-margin - 68px;
    .prog {
      @include customWidthHeight($skills-icon-container-width, 100%);
      @include flexCustom(column, center, flex-end);
      .logo {
        @include customWidthHeight($skills-logo-width, $skills-logo-height);
      }
      .prog-name {
        @include lightFontSet();
        color: $secondary-text-color;
        // override some light font values
        font-size: 14px;
        line-height: 17px;
      }
      .star-holder {
        @include customWidthHeight(100%, $skills-stars);
        .star {
          @include customWidthHeight($skills-stars, $skills-stars);
        }
      }
    }
  }
}

// portfolio division
#portfolio {
  @include customWidthHeight(100%, $portfolio-height);
  @include flexCustom(column, center, center);
  background-color: $secondary-background-color;
  text-align: center;
  .portfolio-container {
    @include customWidthHeight(
      $portfolio-item-width,
      $portfolio-item-height + 44.88px + 22px
    ); // image height + image and text space + text's height
    margin-top: 47px; // from portfolio title
    margin-bottom: 166px - (47px + 44.88px); // spec difference between 2 images minus marginTop and text height
    .item {
      @include customWidthHeight(100%, 510px);
    }
    .item:hover {
      // transition effect on image hover
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
    }
    h4 {
      @include zeroMarginPadding();
      @include lightFontSet();
      color: $primary-text-color;
      margin-top: 44.88px;
      text-decoration: underline;
    }
    a:visited {
      @include links();
      color: $primary-text-color;
    }
    h4:hover {
      transition: all 0.3s ease-in-out;
      font-size: 19px;
      color: $secondary-text-color;
    }
  }
}
// contacts division
#contacts {
  @include customWidthHeight(100%, $contacts-height);
  @include flexCustom(column, center, center);
  background-color: $primary-background-color;
  text-align: center;
  h3 {
    @include lightFontSet();
    margin-top: $contacts-text-to-title-height;
    color: $primary-text-color;
  }
  button {
    @include customWidthHeight($contacts-button-width, $contacts-button-height);
    @include lightFontSet();
    color: $primary-background-color;
    background-color: $primary-text-color;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-appearance: button;
    -moz-appearance: button;
  }
  button:hover {
    transition: all 0.2s ease-in-out;
    background-color: $secondary-text-color;
  }
  .icons-container {
    @include customWidthHeight(
      $contacts-icons-container-width,
      $contacts-icons-container-height
    );
    @include flexCustom(row, stretch, space-between);
    margin-top: $contacts-icons-to-button-margin;
    .contact {
      @include customWidthHeight($contacts-icons-size, $contacts-icons-size);
    }
  }
  h4 {
    @include lightFontSet();
    margin-top: $contacts-links-to-icons-margin;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $secondary-text-color;
    a {
      text-decoration: none;
      color: $secondary-text-color;
    }
    a:visited {
      @include links();
      color: $secondary-text-color;
    }
  }
}

// MEDIA QUERIES
// screenwidth between 975px and 640 (tablets)
@media only screen and (max-width: 975px) {
  body {
    @include customWidthHeight(100vw, 3759px);
  }
  #nav-box {
    background-color: transparent;
    .nav-web {
      display: none;
    }
    .nav-mobile {
      display: inline;
      @include customWidthHeight(45px, 50px);
      hr {
        margin-top: 11px;
      }
    }
  }
  #home {
    #home-holder {
      #labels {
        @include customWidthHeight($content-tablet-width, 118.17px);
      }
      #image-container {
        @include customWidthHeight($content-tablet-width, 387px);
      }
      #image {
        @include customWidthHeight(100%, 75%);
      }
    }
  }
  #skills {
    .progs {
      @include customWidthHeight($content-tablet-width, 206.27px);
      .prog {
        .star-holder {
          .star {
            @include customWidthHeight(18.07px, 18px);
          }
        }
      }
    }
  }
  #portfolio {
    @include customWidthHeight(100%, 1850px);
    .portfolio-container {
      @include customWidthHeight($content-tablet-width, 350px + 44.88px + 22px);
      margin-top: 47px;
      .item {
        @include customWidthHeight(100%, 350px);
      }
    }
  }
}

// screenwidth less than 640px (smaller tablets and mobile)
@media only screen and (max-width: 640px) {
  #nav-box {
    @include customWidthHeight($content-tablet-width, 0);
    .nav-mobile {
      background-color: $primary-background-color;
      @include customWidthHeight(40px, 45px);
      hr {
        margin-top: 10px;
      }
    }
  }
  #home {
    @include customWidthHeight(100%, 850px);
    #home-holder {
      @include customWidthHeight(100%, 100%);
      @include flexCustom(column, center, flex-start);
      #labels {
        @include customWidthHeight(
          $content-mobile-width - $mobile-container-margin,
          250px
        );
        @include flexCustom(column, flex-start, flex-start);
        margin-top: 50px + 25px;
        .lang {
          // re-rotate language links
          transform: rotateZ(0deg);
        }
      }
      #image-container {
        @include customWidthHeight(
          $content-mobile-width - $mobile-container-margin,
          478px
        );
      }
      #image {
        display: none;
      }
      #image-mobile {
        display: inline;
        @include customWidthHeight(100%, 100%);
      }
    }
  }
  #about {
    @include customWidthHeight(100%, 506px);
    @include flexCustom(column, center, flex-end);
    text-align: center;
    background-color: $secondary-background-color;
    .text-container {
      @include customWidthHeight(
        $content-mobile-width - $mobile-container-margin,
        auto
      );
    }
  }
  #skills {
    @include customWidthHeight(100%, auto);
    .progs {
      @include customWidthHeight(
        $content-mobile-width - $mobile-container-margin,
        auto
      );
      @include flexCustom(column, center, center);
      padding-bottom: 0;
      .prog {
        .star-holder {
          margin-bottom: 50px;
          .star {
            @include customWidthHeight(26.07px, 26px);
          }
        }
      }
    }
  }
  #portfolio {
    @include customWidthHeight(100%, auto);
    .portfolio-container {
      @include customWidthHeight(
        $content-mobile-width - $mobile-container-margin,
        350px
      );
      margin-bottom: 0;
      .item {
        @include customWidthHeight(100%, 220px);
      }
      h4 {
        margin-top: 20px;
      }
    }
  }
  #contacts {
    @include customWidthHeight(100%, 690px);
    button {
      @include customWidthHeight(
        $content-mobile-width - $mobile-container-margin,
        42px
      );
    }
    .icons-container {
      @include customWidthHeight(
        $content-mobile-width - $mobile-container-margin,
        auto
      );
    }
  }
}
